body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

 label {
  font-size: 1.5rem;
}
 .input{
  height: 40px;
  margin-left: 15px;
  font-size: 1.5rem;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

.button{
  margin-left: 15px;
  font-size: 1.5rem;
  background: green;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  color: white;
}

.button-random{
  background: #8416a5;
}

.container {
  margin-top: 50px;
  display: flex;
  width: auto;
}

.image {
  width: 40%;
}

.info {
  width: 60%;
  margin-top: 50px;
}
